<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLGCxAImxK0g8p8GWpPg14nG9KQuDHgMs</string>
	<key>GCM_SENDER_ID</key>
	<string>898489121871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.classmate.classMate</string>
	<key>PROJECT_ID</key>
	<string>classmate-33790</string>
	<key>STORAGE_BUCKET</key>
	<string>classmate-33790.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898489121871:ios:5f5919fa5bdf2582fe7e3a</string>
</dict>
</plist>